<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="amr">
    <xacro:include filename="inertial.urdf.xacro"/>
    <xacro:include filename="amr_core.urdf.xacro"/>
    <xacro:include filename="amr_lidar.urdf.xacro"/>
    <xacro:include filename="amr_camera.urdf.xacro"/>
    <!-- <xacro:include filename="amr_imu.urdf.xacro"/> -->
    <xacro:include filename="amr_gazebo.urdf.xacro"/>

</robot>